{{ define "main" }}

<div data-pagefind-ignore>
  <div class="max-w-prose mx-auto flex justify-start">
    <article class="prose prose-slate lg:prose-xl dark:prose-invert max-w-none">
      <h1 class="lg:text-6xl !mb-4">{{ .Title }}</h1>
      {{ .Content }}
    </article>
  </div>

  {{ $view := "card" }}
  {{ $block := . }}
  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  {{ $config := dict
    "columns" 2
    "len" (len $paginator.Pages)
    "fill_image" true
    "show_date" true
    "show_read_time" true
    "show_read_more" true
  }}

  <div class="flex flex-col items-center">
    {{ partial "functions/render_view" (dict "fragment" "start" "page" $block "item" . "view" $view "config" $config) }}

    {{ range $index, $item := $paginator.Pages }}
      {{ partial "functions/render_view" (dict "page" . "item" . "view" $view "index" $index "config" $config) }}
    {{ end }}

    {{ partial "functions/render_view" (dict "fragment" "end" "page" $block "item" . "view" $view) }}
    {{ partial "components/paginator" . }}
  </div>
</div>

{{ end }}
